.credit-result {
  padding-top: 20px;
}

@media (min-width: $tablet-min-breakpoint) {
  .credit-result {
    padding-top: 25px;
  }
}

@media (min-width: $desktop-min-breakpoint) {
  .credit-result {
    max-width: 500px;
    flex-grow: 1;
    padding-top: 40px;
    margin-left: 20px;
  }
}
