.credit-offer {
  padding-bottom: 40px;
}

.credit-offer__totals-list {
  padding: 24px 0 15px;
}

.credit-offer__totals-item {
  margin-bottom: 14px;
}

.credit-offer__submit-button {
  width: 100%;
  padding: 19px 0 16px;
}
