.credit-offer {
  padding: 35px 15px 40px;
  background-color: $header-background;
  border-radius: 4px;
  line-height: 140%;
}

.credit-offer__wrapper {
  max-width: 558px;
  margin: 0 auto;
}

.credit-offer__heading {
  margin: 0;
  font-size: 18px;
  font-weight: 500;
  line-height: 140%;
}

.credit-offer__totals-list {
  padding: 24px 0 15px;
  margin: 0;
}

.credit-offer__totals-item {
  padding-bottom: 14px;
  display: flex;
  flex-direction: column-reverse;
}

.credit-offer__totals-parameter {
  font-size: 16px;
  font-weight: 400;
  color: $label-text;
  margin-top: 2px;
}

.credit-offer__totals-value {
  margin: 0;
  font-size: 18px;
  font-weight: 500;
}

.credit-offer__submit-button {
  width: 100%;
  padding: 19px 16px 16px;
}

@media (min-width: $tablet-min-breakpoint) {
  .credit-offer {
    padding: 54px 60px 60px;
  }

  .credit-offer__wrapper {
    max-width: none;
  }

  .credit-offer__heading {
    font-size: 22px;
  }

  .credit-offer__totals-list {
    padding: 29px 0 3px;
    display: grid;
    grid-template-columns: auto 1fr;
    column-gap: 50px;
    align-items: start;
  }

  .credit-offer__totals-item {
    padding-bottom: 31px;
  }

  .credit-offer__totals-parameter {
    margin-top: 5px;
  }

  .credit-offer__totals-value {
    font-size: 22px;
  }

  .credit-offer__submit-button {
    padding-top: 16px;
  }
}

@media (min-width: $desktop-min-breakpoint) {
  .credit-offer {
    padding-left: 14px;
    padding-right: 15px;
  }

  .credit-offer__wrapper {
    width: fit-content;
  }
}
