.credit-request-form {
  padding: 12px 0 0;
}

.credit-request-form__paragraph {
  margin: 0 0 20px;
}

.credit-request-form__input {
  text-align: left;
}

.credit-request-form__submit-button {
  margin: 30px 0 0;
  padding: 19px 2px 16px 0;
  width: 100%;
}
