.credit-request-form {
  padding-top: 12px;
}

.credit-request-form__paragraph {
  margin: 0;
  padding-bottom: 20px;
}

.credit-request-form__input {
  padding: 0 14px;
  letter-spacing: 0.03em;

  &::placeholder {
    color: $description-text;
    letter-spacing: 0.03em;
  }
}

.credit-request-form__submit-button {
  margin-top: 10px;
  padding: 19px 2px 16px 0;
  width: 100%;
}
