.invalidity {
  position: relative;

  &::after {
    position: absolute;
    top: 2px;
    left: 5px;
    color: $error-message;
    font-size: 16px;
  }

  &--value-missing::after {
    content: "Заполните поле";
  }

  &--incorrect-value::after {
    content: "Некорректное значение";
  }
}

.invalidity input {
  border-color: $error-message;
}
