.message {
  padding: 35px 15px 33px;
  background-color: $header-background;
  border-radius: 4px;
  line-height: 140%;
}

.message__heading {
  margin: 0;
  font-size: 18px;
  font-weight: 500;
  line-height: 140%;
}

.message__text {
  margin: 13px 0 0;
  font-size: 16px;
  font-weight: 400;
  color: $label-text;
}
