.page {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.page__main {
  flex-grow: 1;
}

@media (max-width: $mobile-max-breakpoint) {
  .page__main,
  .page__footer {
    &--mobile-menu-opened {
      display: none;
    }
  }
}
