.wrapper {
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
  max-width: $mobile-wrapper;
  outline: 2px solid aqua;
}

@media (min-width: $tablet-breakpoint) {
  .wrapper {
    max-width: $tablet-wrapper;
    padding-left: 45px;
    padding-right: 45px;
  }
}

@media (min-width: $desktop-breakpoint) {
  .wrapper {
    max-width: $desktop-wrapper;
    padding-left: 20px;
    padding-right: 20px;
  }
}
