.gratitude-modal {
  width: 100%;
  max-width: 678px;
  text-align: center;
  position: relative;
  padding: 35px 15px 33px;
  background-color: $header-background;
  border-radius: 4px;
  margin: auto;
}

.gratitude-modal__heading {
  margin: 0;
  padding: 0 30px;
  font-size: 18px;
  font-weight: 500;
  line-height: 140%;
}

.gratitude-modal__text {
  margin: 13px auto 0;
  padding: 0 10px;
  max-width: 320px;
  font-size: 16px;
  font-weight: 400;
  line-height: 140%;
  color: $label-text;
}

.gratitude-modal__close-button {
  position: absolute;
  top: 6px;
  right: 6px;
}

@media (min-width: $tablet-min-breakpoint) {
  .gratitude-modal {
    padding: 54px 60px;
  }

  .gratitude-modal__heading {
    font-size: 22px;
  }

  .gratitude-modal__text {
    margin-top: 11px;
  }

  .gratitude-modal__close-button {
    top: 19px;
    right: 18px;
  }
}
