.header {
  background-color: $header-background;
}

.header__nav {
  display: flex;
  flex-wrap: wrap;
}

.header__nav-wrapper {
  &--first {
    padding: 0 44px;
    position: relative;
  }

  &--second {
    flex-grow: 1;
  }
}

.header__logo-link {
  display: block;
  padding: 14px 0 10px;
}

.header__logo-image {
  width: 116px;
  height: 19px;
}

.header__nav-button {
  position: absolute;
  top: 0;
  width: 46px;
  height: 48px;
  background-position: center;
  background-repeat: no-repeat;
  background-color: inherit;
  border: none;
  padding: 0;

  &--open-menu {
    background-image: url("data:image/svg+xml,%3Csvg width='16' height='12' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0 1h16M0 6h16M0 11h16' stroke='%231F1E25' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
    left: 0;
  }

  &--close-menu {
    display: none;
  }
}

.header__nav-list {
  padding: 0;
  margin: 0;
  list-style: none;
  font-size: 16px;
  line-height: 19px;
  display: flex;
  flex-wrap: wrap;

  &--main-nav {
    display: none;
  }

  &--user-nav {
    width: 44px;
    margin-left: auto;
    justify-content: flex-end;
  }
}

.header__nav-link {
  color: inherit;
  display: block;

  &--log-in {
    font-size: 0;
    width: 44px;
    height: 48px;
    position: relative;
  }

  &--log-in::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-image: url("./img/log-in.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 14px 16px;
  }
}

@media (max-width: $mobile-max-breakpoint) {
  .header__nav {
    padding: 0;
  }

  .header__nav--menu-opened .header__nav-wrapper {
    width: 100%;

    &--second {
      padding: 31px 15px 20px;
    }
  }

  .header__nav--menu-opened .header__logo-link {
    width: fit-content;
  }

  .header__nav--menu-opened .header__nav-button {
    &--close-menu {
      display: block;
      background-image: url("data:image/svg+xml,%3Csvg width='15' height='15' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='m1 1 6.5 6.5M14 14 7.5 7.5m0 0L14 1 1 14' stroke='%23011C40' stroke-width='2'/%3E%3C/svg%3E");
      background-origin: content-box;
      width: 44px;
      right: 0;
      padding-bottom: 4px;
    }
  }

  .header__nav--menu-opened .header__nav-list {
    &--main-nav {
      display: flex;
    }

    &--user-nav {
      width: auto;
    }
  }

  .header__nav--menu-opened .header__nav-item {
    border-bottom: 1px solid $nav-border;
    width: 100%;

    &--main-nav:first-child {
      border-top: 1px solid $nav-border;
    }
  }

  .header__nav--menu-opened .header__nav-link {
    padding: 20px 15px;

    &--log-in {
      padding-left: 45px;
      font-size: inherit;
      width: auto;
      height: auto;
    }

    &--log-in::before {
      width: 24px;
      height: 24px;
      top: 17px;
      left: 13px;
      background-size: auto;
    }
  }
}

@media (min-width: $tablet-min-breakpoint) {
  .header__nav {
    padding-top: 19px;
    padding-bottom: 14px;
  }

  .header__nav-wrapper {
    &--first {
      padding: 0;
      margin-right: 55px;
    }

    &--second {
      display: flex;
      flex-wrap: wrap;
    }
  }

  .header__logo-link {
    padding: 0;
  }

  .header__logo-image {
    width: 134px;
    height: 30px;
    transform: translateX(-1px);
    object-fit: contain;
  }

  .header__nav-button {
    display: none;
  }

  .header__nav-list {
    font-size: 14px;
    line-height: 16px;

    &--main-nav {
      display: flex;
      width: 430px;
    }

    &--user-nav {
      width: 40px;
    }
  }

  .header__nav-item {
    &--main-nav {
      padding: 10px;
    }
  }

  .header__nav-link {
    &--log-in {
      width: 40px;
      height: 30px;
      transform: translateX(10px);
    }

    &--log-in::before {
      background-size: auto;
    }
  }
}

@media (min-width: $desktop-min-breakpoint) {
  .header__nav {
    padding-top: 26px;
    padding-bottom: 26px;
  }

  .header__nav-wrapper {
    &--first {
      margin-right: 83px;
    }
  }

  .header__logo-image {
    width: 150px;
    height: 27px;
  }

  .header__nav-list {
    font-size: 16px;
    line-height: 19px;

    &--main-nav {
      width: 500px;
    }

    &--user-nav {
      width: 230px;
    }
  }

  .header__nav-item {
    padding: 10px 0 10px 25px;
  }

  .header__nav-link {
    &--log-in {
      font-size: inherit;
      width: auto;
      height: auto;
      transform: none;
      padding-left: 30px;
    }

    &--log-in::before {
      width: 20px;
      height: 22px;
      transform: translateY(-2px);
    }
  }
}
