.credit-calculator {
  padding-top: 58px;
  padding-bottom: 20px;
  font-size: 16px;
  line-height: 140%;
}

.credit-calculator__heading {
  font-size: 22px;
  margin: 0;
}

.credit-calculator__step {
  padding-top: 26px;
}

.credit-calculator__step-heading {
  font-size: 16px;
  font-weight: 500;
  margin: 0;
}

.credit-calculator__fieldset {
  margin: 0;
  padding: 0;
  border: none;
}

.credit-calculator__label {
  color: $label-text;
  display: block;
  margin: 8px 0;
}

.credit-calculator__number-input-wrapper {
  position: relative;
}

.credit-calculator__number-input-substrate {
  text-align: center;
  font-weight: 500;
  width: 100%;
  position: absolute;
  top: 34%;
  left: 0;
  z-index: -1;
}

.credit-calculator__input {
  text-align: center;
  appearance: textfield;
  padding-top: 2px;
  color: transparent;
  background-color: transparent;

  &:focus {
    color: inherit;
    background-color: $general-white;
  }

  &::-webkit-inner-spin-button,
  &::-webkit-outer-spin-button {
    appearance: none;
  }
}

.credit-calculator__description {
  margin: 0;
  margin-top: 6px;
  font-size: 14px;
  color: $description-text;
  white-space: pre;

  &--duration {
    display: flex;
    justify-content: space-between;
  }
}

@media (max-width: $mobile-max-breakpoint) {
  .credit-calculator {
    max-width: 708px;
  }
}
