.credit-request {
  padding-top: 43px;
}

.credit-request__heading {
  text-align: center;
}

.credit-request__totals-list {
  margin: 0;
  padding: 19px 0;
}

.credit-request__totals-item {
  display: flex;
  flex-direction: column-reverse;
  padding: 16px 0 12px;
  border-bottom: 1px solid $totals-border;
}

.credit-request__totals-parameter {
  font-size: 16px;
  font-weight: 400;
  color: $label-text;
  margin-top: 2px;
}

.credit-request__totals-value {
  margin: 0;
  font-size: 18px;
  font-weight: 500;

  &--credit-type {
    text-transform: capitalize;
  }
}

@media (min-width: $tablet-min-breakpoint) {
  .credit-request {
    padding-top: 56px;
  }

  .credit-request__totals-list {
    padding-top: 28px;
    line-height: 100%;
  }

  .credit-request__totals-item {
    flex-direction: row;
    justify-content: space-between;
    padding: 20px 0 18px;
  }

  .credit-request__totals-parameter {
    margin: 0;
  }

  .credit-request__totals-value {
    font-size: 22px;
  }
}

@media (min-width: $desktop-min-breakpoint) {
  .credit-request {
    width: 770px;
    margin: 47px auto 22px;
    background-color: $header-background;
    padding: 68px 70px 70px;
  }

  .credit-request__totals-list {
    padding-top: 16px;
  }
}
