.credit-request {
  padding-top: 43px;
}

.credit-request__heading {
  text-align: center;
}

.credit-request__totals-list {
  padding: 19px 0;
}

.credit-request__totals-item {
  padding: 16px 0 12px;
  border-bottom: 1px solid $totals-border;
}

.credit-request__totals-value {
  &--credit-type {
    text-transform: capitalize;
  }
}
