.credit-request {
  padding-top: 43px;
}

.credit-request__heading {
  text-align: center;
}

.credit-request__totals-list {
  margin: 0;
  padding: 19px 0;
}

.credit-request__totals-item {
  display: flex;
  flex-direction: column-reverse;
  padding: 16px 0 12px;
  border-bottom: 1px solid $totals-border;
}

.credit-request__totals-parameter {
  font-size: 16px;
  font-weight: 400;
  color: $label-text;
  margin-top: 2px;
}

.credit-request__totals-value {
  margin: 0;
  font-size: 18px;
  font-weight: 500;

  &--credit-type {
    text-transform: capitalize;
  }
}
