*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  height: 100%;
}

body {
  font-family: "Roboto", "Arial", sans-serif;
  font-size: 18px;
  color: $general-text;
  font-weight: 400;
  background-color: $general-white;
  min-width: $mobile-width;
  height: 100%;
}

img {
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
}
