// Colors
$general-black: #000000;
$general-white: #ffffff;
$header-background: #f6f7ff;
$nav-border: #c1c2ca;
$general-text: #1f1e25;

// Breakpoints
$desktop-breakpoint: 1024px;
$tablet-breakpoint: 768px;

// Body width
$desktop-width: 1004px;
$tablet-width: 768px;
$mobile-width: 320px;

// Wrappers
$mobile-wrapper: 425px;
$desktop-wrapper: 1210px;
