// Colors
$general-black: #000000;
$general-white: #ffffff;
$header-background: #f6f7ff;
$nav-border: #c1c2ca;
$general-text: #1f1e25;
$link-background: #2c36f2;
$light-text: #e0e1ea;
$image-shadow: #191a1f33;
$slider-pagination: #2028b6;
$dark-text: #2b3c4f;

// Breakpoints
$mobile-breakpoint: 767px;
$tablet-breakpoint: 768px;
$desktop-breakpoint: 1024px;

// Body width
$mobile-width: 320px;

// Wrappers
$mobile-wrapper: 520px;
$tablet-wrapper: 868px;
$desktop-wrapper: 1210px;
