// Colors
$general-black: #000000;
$general-white: #ffffff;
$header-background: #f6f7ff;
$nav-border: #c1c2ca;
$general-text: #1f1e25;
$link-background: #2c36f2;
$light-text: #e0e1ea;
$image-shadow: #191a1f33;
$slider-pagination: #2028b6;
$slider-pagination-active: #e0e0e0;
$dark-text: #2b3c4f;
$tab-text: #4c4b51;
$types-list-border: #0a1e32;
$label-text: #394959;
$description-text: #707c87;
$totals-border: #c4c4c4;

// Breakpoints
$mobile-max-breakpoint: 767px;
$tablet-min-breakpoint: 768px;
$tablet-max-breakpoint: 1023px;
$desktop-min-breakpoint: 1024px;

// Body width
$mobile-width: 320px;

// Wrappers
$mobile-wrapper: 520px;
$tablet-wrapper: 868px;
$desktop-wrapper: 1210px;
