.slider-pagination {
  margin: 0;
  padding: 0;
  list-style: none;
  width: 100%;
  height: 16px;
  display: flex;
  justify-content: center;
}

.slider-pagination__item {
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background-color: $slider-pagination;
  margin: 0 3px;

  &--current {
    background-color: $slider-pagination-active;
  }
}

@media (min-width: $tablet-min-breakpoint) {
  .slider-pagination {
    height: 23px;
  }

  .slider-pagination__item {
    width: 8px;
    height: 8px;
    margin: 0 4px;
  }
}

@media (min-width: $desktop-min-breakpoint) {
  .slider-pagination {
    height: 48px;
  }
}
